MAFSHOU_ENVIRONMENT_MODE=development

MAFSHOU_DATABASE_NAME=mafshoudb
MAFSHOU_DATABASE_USERNAME=mafshouusr
MAFSHOU_DATABASE_PASSWORD=mafshoupss

MAFSHOU_USER_ID=1000
MAFSHOU_GROUP_ID=1000

MAFSHOU_PORT_PREFIX=29

MAFSHOU_PROJECT_NAME=mafshou
MAFSHOU_PROJECT_TITLE=Mafshou
MAFSHOU_TIMEZONE=UTC

MAFSHOU_JWT_SECRET=jwt-secret-key-that-mut-be-changed-in-production-recommended-256
MAFSHOU_SECRET_KEY=app-secret-key-that-mut-be-changed-in-production-recommended-256

MAFSHOU_SMTP_HOST=smtp.gmail.com
MAFSHOU_SMTP_PORT=587
MAFSHOU_SMTP_USERNAME=your-email@gmail.com
MAFSHOU_SMTP_PASSWORD=your-app-password